[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mtg-search = {editable = true, path = "."}

[dev-packages]
pytest = "*"
ipython = "*"
dvc = {extras = ["s3"], version = "*"}

[requires]
python_version = "3.8"
